<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.jooq" level="DEBUG"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
